@import "../../assets/css/colors.scss";

.input {
  &__wrapper {
    margin-top: 1.5rem;
  }
  &-item {
    background-color: $green;
    border: 2px solid transparent;
    border-bottom: 2px solid $lime;
    padding: 1rem;
    font-family: 'PTSans';
    font-size: 1.5rem;
    color: $white;
    transition: 0.3s all;
    &:focus {
      outline: none;
      border: 2px solid $lime;
    }
  }
}
