@import "../../assets/css/colors";

.formButton {
  &-item {
    background-color: $green;
    border: 2px solid $lime;
    color: $white;
    border-radius: 36px;
    width: 144px;
    height: 52px;
    font-family: "PTSans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s all;

    a {
      transition: 0.3s all;
    }

    &:hover {
      color: $green;
      background-color: $lime;
      a {
        color: $green;
      }
    }
  }
  @media (max-width: 420px) {
    &-item {
      font-size: 1.15rem;
      width: 110px;
      height: 40px;
    }
  }
}