@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSans-Regular.eot?") format("eot"),
    url("../fonts/PTSans-Regular.ttf") format("truetype"),
    url('../fonts/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot?") format("eot"),
    url("../fonts/Roboto-Bold.ttf") format("truetype"),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-style: normal;
}
